<img src="<%= listing.url %>" alt="an image of <%= listing.address %>">
<h1><%= listing.address %></h1>
<p><%= listing.city %></p>
<p><%= listing.state %></p>
<p><%= listing.price %></p>

<form action="/users/listings/<%= listing.id %>" method="post">
  <input type="submit" value="Favorite this listing">
</form>

<% if (user.id === listing.userId) { %>
<form action="/listings/edit/<%= listing.id %>" method="get">
  <input type="submit" value="edit this listing">
</form>

<form action="/listings/<%= listing.id %>/?_method=DELETE" method="post">
  <input type="submit" value="delete this listing">
</form>
<% } %>

<% comment.forEach(element => { %>
  <li><%= element.content %> - <%= element.email %></li>
<% }) %>

<div id='map'></div>

<form action="/listings/comments" method="POST">
<div class="form-group">
  <label for="content">comment</label>
  <input type="text" class="form-control" id="content" name="content" required>

  <div class="form-group">
    <input type="hidden" class="form-control" id="userId" name="userId" value="<%= user.id %>">
  </div>

  <div class="form-group">
    <input type="hidden" class="form-control" id="listingId" name="listingId" value="<%= listing.id %>">
  </div>

  <div class="form-group">
    <input type="hidden" class="form-control" id="email" name="email" value="<%= user.email %>">
  </div>
</div>
<input type="submit" class="btn btn-primary">
</form>


<script> 
  mapboxgl.accessToken = '<%= mapkey %>';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-v9',
    center: ['<%= match.center[0] %>', '<%= match.center[1] %>'],
    zoom: 17
  })
  const geojson = {
    type: 'FeatureCollection',
    features: [{
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: ['<%= match.center[0] %>', '<%= match.center[1] %>']
      },
      properties: {
        title: 'Mapbox',
        description: 'Mapbox Element'
      }
    }]
  }
  geojson.features.forEach(marker => {
    const el = document.createElement('img')
    el.class = 'marker'
    el.src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Map_pin_icon.svg/94px-Map_pin_icon.svg.png?20131230201244'
    el.style.width = '3vw'
    new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .addTo(map)
  })
</script>

